@import url('https://fonts.googleapis.com/css?family=Damion|Alex+Brush|Audiowide');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: #d0d0d0;
  color: #444;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 1em;
}

.svg-text {
  position: relative;
top: 10%
  -webkit-transform: rotateX(30deg);
          transform: rotateX(30deg);
  font-size: 10em;
  font-family: 'Damion', cursive;
  transition: all 0.6s ease-in-out;
  color: #f0f0f0;
}
.svg-text__shaded {
  text-shadow: 0 1px 1px rgba(33, 33, 33, 0.15), 0 3px 10px rgba(33, 33, 33, 0.15), 0 3px 20px rgba(33, 33, 33, 0.35);
}
.svg-text__shaded__sub {
  font-size: .08em;
  font-family: 'Open Sans', sans-serif;
}
.svg-text__shaded__stroke {
  stroke-dasharray: 4em .5em;
  stroke-dashoffset: 0;
  transition: all 0.6s ease-in-out;
}
.svg-text .bold {
  font-size: .9em;
  font-family: 'Audiowide', cursive;
  font-weight: 600;
}
.svg-text:hover {
  cursor: pointer;
}
.svg-text:hover .svg-text__shaded__stroke {
  -webkit-animation: offsetAnim 3.2s ease-in-out infinite;
          animation: offsetAnim 3.2s ease-in-out infinite;
}

.hover {
  display: absolute;
	top:10%;
		right: 20%;
  color: white;
  font-size: 4em;
  line-height: .4em;
  font-weight: 400;
  font-family: 'Alex Brush', cursive;
  text-align: center;
  text-shadow: 0 0.005em 0 #d9d9d9, 0 0.01em 0 #d9d9d9, 0 0.015em 0 #d9d9d9, 0 0.02em 0 #d9d9d9, 0 0.035em 0 #d9d9d9, 0 0.035em 0.02em rgba(33, 33, 33, 0.35), 0 0.038em 0.2em rgba(33, 33, 33, 0.65);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translate(3.95em, 1.2em) rotate(25deg);
          transform: translate(3.95em, 1.2em) rotate(25deg);
}

@-webkit-keyframes offsetAnim {
  70%,
    100% {
    stroke-dashoffset: 4.5em;
  }
}

@keyframes offsetAnim {
  70%,
    100% {
    stroke-dashoffset: 4.5em;
  }
}

#canvas_container {
	position: absolute;
	z-index: -10;
	top: 0;
	left: 0;
	width: 100vw;
	height:100vh;
	margin: 0;
	padding: 0;
}

#words_container {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100vw;
	heiht: 100vh;
	margin: 0;
	padding: 0;
}
